<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wait</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
</head>
<body>
    
</body>
<script>
    
let params = new URLSearchParams(window.location.search);
window.localStorage.setItem('id',params.get("id"))
//Cookies.set('id',params.get("id"))
console.log(Cookies.get('mode'))
if (Cookies.get('mode') == 'editor'){
    window.location.replace('/editor')
}
if (Cookies.get('mode') == 'account'){
    window.location.replace('/account')
}
if (Cookies.get('mode') == 'game'){
    window.location.replace('/gameLobby')
}



</script>
</html>