body {
  background-color: #292b2c;
  overflow: hidden;
  }

.container
{
    margin: 0;
}
* {
    margin: 0;
    padding: 0;
  }
button{
  border: none;
  color: black;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}
canvas{
  width: 100%;
  background-color:wheat;
}

#optionPlace{
  height: 90vh;
  overflow-y: scroll;
} 
.darkColor{
 background-color: #292b2c;
}
.whiteColor{
  color: white;
 }
.navbarButton{
  width:200px;
  margin-right: 10px;
  white-space: nowrap;
}
.alignCenter{
  text-align: center;
}
.pawnType{
  width: 200px;
  height: 200px;
  margin: 0 auto;
  border: 20px solid;
  border-radius: 50%; 
  border-color: white; 
  text-align: center;
}
.accountParagraph{
  font-size:150%
}
.maxWidth{
  width: 100%;
}
.maxHeight{
  height: 100%;
}
.ruleField{
  width: 100%;
  height: 500%;
}
.inline{
  display: inline;
}
.buttonLeftMargin{
  margin-left: 3%;
}
.topMargin{
  margin-top:3%;
}
.gamelobby{
  text-align: center;
  align-items: center;
  justify-content: center;
  /* background-color: #292b2c; */
  overflow: visible;
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
  /* bottom-padding:1px; */
  }
.gamelobby-div{
  margin: 5% ;  
  background-color: white;
  overflow: hidden; 
  width: 100%;
  height: 35vh;  
  border-radius: 25px;
}
footer{
  margin-top: 10%;
}
#numOfPlayersPlace,#gameNamePlace,#gameTypePlace,#tileEditingPlace{
  /* background-color:pink; */
  padding: 0% 10%;
  width: 100%;
  text-align: center;
  color: white;
  font-weight: bold;
}
#canvasPlace{
  background-color:#292b2c;
}
#numOfPlayers,#sizeOfTileSlider,#sizeOfOutlineSlider,#tileNumberSlider,#componentSizeSlider,#componentOutlineSlider,#componentWidthSlider,#componentHeightSlider{
  background-color:white;
  width: 80%;
}
#numShower,#tileSizeShower,#tileOutlineSizeShower,#hasOutlineShower,#hasBackgroundImageShower{
  padding: 0% 3%;
  text-align: center;
  color: white;
  font-weight: bold;
}
